.nav-link {
    color: white;
}

#nav-color{
    background-color:#ECAD2F !important;
    
}

#backgroud-img{
    background-image: url('../asset/images/wood_background_3-wallpaper-3840x2400.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
 
    
}

